<header>
    <div class="container">
        <div class="row">
            <div class="col span_12">
                <div class="icons">
                    <ul>
                        <li> <a href="#"> <img src="assets/images/fb.png"> </a> </li>
                        <li> <a href="#"> <img src="assets/images/insta.png"> </a> </li>
                        <li> <a href="#"> <img src="assets/images/twitter.png"> </a> </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="header_part">
            <div class="row center_middle">
                <div class="col span_4">
                    <div class="rakyan-logo"> <a routerLink="/" > <img src="assets/images/rakyan_logo.png"> </a> </div>
                </div>

                <div class="col span_8">
                    <div class="manu">
                      <nav>
                        <ul>
                            <li> <a routerLink="/home" routerLinkActive="router-link-active" > About Us </a> </li>
                            <li> <a routerLink="/our-tradition" routerLinkActive="router-link-active"  > Our Traditions </a> </li>
                            <li> <a routerLink="/treasure" routerLinkActive="router-link-active" > Bespoke </a> </li>
                            <li> <a routerLink="/treasure" routerLinkActive="router-link-active"> Creations </a> </li>
                        </ul>
                      </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
