<footer>
    <div class="container">
        <div class="row">
            <div class="col span_12">
            </div>
        </div>
            <div class="row">
                <div class="col span_12">
                    <div class="stay_in_touch"> <h3> Stay in touch </h3> </div>
                    <div class="subscribe_to_our_newsletter">
                        <input class="subscribe" type="text" name="name" placeholder="SUBSCRIBE TO OUR NEWSLETTER">
                        <input class="button" type="button" value="SUBSCRIBE">
                    </div>
                </div>
            </div>

        <div class="row">
            <div class="col span_12">
                <div class="footer_bar">
                    <ul>
                        <li> <a href="#"> About Us </a> </li>
                        <li> <a href="#"> Our Traditions </a> </li>
                        <li> <a href="#"> Bespoke </a> </li>
                        <li> <a href="#"> Creations </a> </li>
                        <li> <a href="#"> Contact Us </a> </li>
                    </ul>
                </div>

                <div class="footer_icon">
                    <ul>
                        <li> <a href="#"> <img src="assets/images/fb.png"> </a> </li>
                        <li> <a href="#"> <img src="assets/images/insta.png"> </a> </li>
                        <li> <a href="#"> <img src="assets/images/twitter.png"> </a> </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col span_12">
                <div class="rakyan">
                    <ul>
                      <li> <a href="#"> All Rights Reserved </a> </li>
                      <li> <a href="#"> Rakyan.com </a> </li>
                    </ul>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col span_12">
            <div class="di"> <a href="#">  </a> Digital Impressions </div>
        </div>
    </div>
</div>
</footer>
