<div class="row">
        <div class="col span_12">
            <div class="main_banner_top"> <img class="main_banner" src="assets/images/main_banner_2.jpg">
                <div class="only_r_logo"> <img src="assets/images/only_r_logo.png"> </div>
            </div>
            <div class="treasure"> <h1> Treasure from the Roots  </h1> </div>
        </div>
</div>



<div class="container">
    <div class="section_polki">
        <div class="row">
            <div class="col span_12">
                <div class="polki"> <h2> POLKI </h2> </div>
                <div class="polki_diamond_jewellery"> <p> Polki Diamond Jewellery reflecting Indias unmatched jewellery Tradition and workmanship. Heavily influenced by Maharajas of the Mughal Empire. </p> </div>
                <div class="diamond_jewellery">
                    <ul>
                        <li> <a href="#"> Bridal </a> </li>
                        <li> <a href="#"> Necklece </a> </li>
                        <li> <a href="#"> Earings </a> </li>
                        <li> <a href="#"> Beacelets </a> </li>
                        <li> <a href="#"> Collectibles </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="polki_img_section">
        <div class="row padding_left_right">
            <div class="col span_6">
                <div class="halo_beads_bangle_image"> <img src="assets/images/halo_beads_bangle_1.jpg"> </div>
                <div class="halo_beads_bangle"> <h5> Halo Beads Bangle </h5> </div>
            </div>

            <div class="col span_6">
                <div class="halo_beads_bangle_image"> <img src="assets/images/halo_beads_bangle_2.jpg"> </div>
                <div class="halo_beads_bangle"> <h5> Halo Beads Bangle </h5> </div>
            </div>
        </div>

        <div class="row padding_left_right">
            <div class="col span_6">
                <div class="halo_beads_bangle_image"> <img src="assets/images/halo_beads_bangle_3.jpg"> </div>
                <div class="halo_beads_bangle"> <h5> Halo Beads Bangle </h5> </div>
            </div>

            <div class="col span_6">
                <div class="halo_beads_bangle_image"> <img src="assets/images/halo_beads_bangle_1.jpg"> </div>
                <div class="halo_beads_bangle"> <h5> Halo Beads Bangle </h5> </div>
            </div>
        </div>
    </div>
</div>
